.friendsBlock {
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  max-width: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.friendsBlock img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
